---
layout: page
title: The Catalog of Sims
permalink: /sims-catalog/
navigation_weight: 1
order: 1
excerpt: Catalog of Math and Physics Sims
---



{% assign subjectgroups = site.simdocs | group_by: "subject" %}

<ul class="subject-list">
{% for item in subjectgroups %}
<li class="{{item.name}}"><h3>  <a href="#{{item.name}}">{{item.name}}</a></h3></li>
{% assign topicgroups = item.items | group_by: "topics" %}
<ul class="topic-list {{item.name}}topics">
  {% for item in topicgroups %}
  <li><a href="#{{item.name}}">{{item.name}}</a></li>
  {%endfor%}
</ul>

{%endfor%}
</ul>

{% for item in subjectgroups %}


<h2 id="{{item.name}}" class="subject">{{ item.name }} Simulations</h2>




    {% assign topicgroups = item.items | group_by: "topics" %}

    {% for item in topicgroups %}

    <h3 id="{{item.name}}" class="topic">{{item.name}}</h3>
<div class="row">



      {% for sim in item.items %}

          <div class="col-6 a-sim">
              <a href="https://ccny-physics-sims.github.io/sims/{{sim.nice-name}}">
            <img  src="{{site.baseurl}}/sim-imgs/{{sim.nice-name}}-200.jpg" class="col-3 col-6-sm  simthumb "/>
            </a>
              <!-- <div class="vignette sim-thumb">



              </div> -->
              <div style="overflow:hidden;">


              <h4> <a href="https://ccny-physics-sims.github.io/sims/{{sim.nice-name}}">{{sim.title}}</a></h4>
              <p>
                {{sim.summary}}
              </p>
              <a class="button normal" href="https://ccny-physics-sims.github.io/sims/{{sim.nice-name}}">View The Sim!</a>
              <a class="button normal" href="../simdocs/{{sim.nice-name}}">About/Instructions</a>
              <!-- <p>Instructions and more information: <a href="../simdocs/{{sim.nice-name}}">here.</a> </p> -->
              </div>
          </div>


      {%endfor%}
</div>
    {%endfor%}

{%endfor%}
