{% assign toshow = site.p5scripts | where: "refno", include.whichSketch %}

```javascript
{{toshow[0] | remove: '<script>' | remove: '</script>'  }}
```

<iframe name="{{include.whichSketch}}" class="tut-canvas"  width="{{toshow[0].width}}" height="{{toshow[0].height}}"></iframe>

<button class="sim-button" onclick="var ifr=document.getElementsByName('{{include.whichSketch}}')[0]; ifr.src='{{site.baseurl}}{{toshow[0].url}}.html' ">Play Sketch</button>
<!-- <button onclick="var ifr=document.getElementsByName('{{include.whichSketch}}')[0]; ifr.src=ifr.src;">Reload Sketch</button> -->
