iframe {
   border: 0 none;
}
iframe.tut-canvas {
   border: thin solid gray;
}
.iframe-link {
  width: 100%;
  font-size:90%;
  border: thin solid $grey-color;
  background: $grey-color-light;
}

.subject {
  clear: both;
}
.subject:first-letter {
    text-transform: uppercase;
}
.topic {
  clear: both;
}
.topic:first-letter {
    text-transform: uppercase;
}

#intro-image {
  margin-bottom: $spacing-unit / 2;
  border-radius: $spacing-unit / 2;
}

section {
  margin: 2%;
}

.a-sim {

  float: left;
  width: 50%;
  margin: 0 0 2% 0;
  overflow:hidden
}

.sim-thumb {
  width: 20%;
  float: left;
  margin: 0 2% 0 0;
}

.vignette {
	-webkit-box-shadow: inset 0px 0px 25px rgba(0,0,0,0.3);
	-moz-box-shadow:    inset 0px 0px 25px rgba(0,0,0,0.3);
	box-shadow:         inset 0px 0px 25px rgba(0,0,0,0.3);
	line-height: 0;         /* ensure no space between bottom */
	display: inline-block;  /* don't go wider than image */
  border-radius: 10%;

}
.vignette img {
	position: relative;
	z-index: -1;
  border-radius: 10%;     /* position beneath */
}


.img-circle {
  border-radius: 50%;
  border: thin solid black;
}


ul.dev-contribs {
  list-style-type: none;
  margin: $spacing-unit/2 0 $spacing-unit/2 0 ;
}

ul.dev-contribs li {
  margin-bottom: $spacing-unit / 2;

}

.team-member {
  width: 40%;
  float: left;
  overflow: auto;
  margin: 0 10px 10px 0;
}
.team-member img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}
.team-member ul {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0px;
}

a.sim-button {
  //width:100px;
  padding: 10px 15px;
  font-size: 15px;
  font-family:Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #747474;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px #999;
}

a.sim-button:hover {
	background-color: #58585a
}

p.callout {
  padding: 2%;
  margin: 5% 10%;
  background: #acc9de;
  border-radius: 15px;
}
