---
layout: page
title: Science.js
permalink: /sciencejs/
navigation_weight: 1
order: 2
---

<div>
<p>Science.js is a <A href="https://p5js.org/">p5.js</a> library that makes it easy to build science simulations.</p>
</div>

<h2 class="subject">Example Usage</h2>
{% assign subjectgroups = site.sciencejsexamples | group_by: "subject" %}


{% for item in subjectgroups %}


    <h3 class="subject">{{ item.name }}</h3>


    {% assign topicgroups = item.items | group_by: "topics" %}

    {% for item in topicgroups %}

    <!-- <h4 class="topic">{{item.name}}</h4> -->


      {% for sim in item.items %}

          <div class="a-sim">
              
              <a href="{{ sim.url | prepend: site.baseurl }}">{{sim.title}}</a>
              <p>
                {{sim.summary}}
              </p>
          </div>


      {%endfor%}

    {%endfor%}

{%endfor%}



   
   
    <h2 class="subject">Reference</h2>
{% assign subjectgroups = site.sciencejsreference | group_by: "subject" %}



{% for item in subjectgroups %}


    <!-- <h2 class="subject">{{ item.name }}</h2> -->


    {% assign topicgroups = item.items | group_by: "topics" %}

    {% for item in topicgroups %}

    <h4 class="topic">{{item.name}}</h4>


      {% for sim in item.items %}

          <div class="a-sim">
              
              <a href="{{ sim.url | prepend: site.baseurl }}">{{sim.title}}</a>
              <p>
                {{sim.summary}}
              </p>
          </div>


      {%endfor%}

    {%endfor%}

{%endfor%}
