---
layout: default
---


<article class="sim">
<h2>{{page.title}}</h2>
<div class = "sketch-frame-container">
<iframe src="{{ page.location }}" id = "sketch-frame" ></iframe></div>

</article>

<section class="sim-isolated">
  <p>
    <b>Link to stand-alone sim: </b> Here is a link to view the sim on its own, with no distractions.
  </p>
  <a class="sim-button" href="{{ page.location }}">Stand alone sim</a>
</section>

<section class = "embedded-code">
 <h2>Source Code</h2>
  
<div id="embedded-code"></div>

</section>
<section class="code-links">



  <p>
    Main Contributors:
  </p>
  <ul class="dev-contribs">
    {% for contributor in page.contributors %}
    <li> <img width="50" src="https://github.com/{{contributor}}.png?size=50" />  <a href="https://github.com/{{contributor}}" >{{contributor}}</a>
    </li>
  {% endfor %}
  </ul>
  {% if page.updated %}
  <p>
    Updated: {{page.updated | date: "%B %-d , %Y" }}
  </p>
  {% endif %}

</section>

<script>
 githubEmbed('#embedded-code', {
    	"owner": "ccny-physics-sims",
        "repo": "science-library",
        "ref": "{{page.embed-path}}",
 
    	"embed": [{
    		"path": "sketch.js",
          "label": "sketch.js",
    	}]
    });
</script>
