---
layout: default
---


<article class="sim">
<h2>{{page.title}}</h2>
<h3>{{page.subject}} sim</h3>
<iframe src="{{ page.location }}" width =" {{ page.width }}" height=" {{ page.height }}" name="hi"></iframe>
</article>

<section class="sim-instructions">
<b>Instructions:</b>
{{page.instructions}}
</section>

<section class="sim-explanation">
<b>Explanation: </b>
{{page.explanation}}
</section>

<section class="sim-isolated">
  <p>
    <b>Link to stand-alone sim: </b> Here is a link to view the sim on its own, with no distractions.
  </p>
  <a class="sim-button" href="http://ccny-physics-sims.github.io/sims/{{page.nice-name}}">Stand alone sim</a>
</section>

<section class="sim-embedcode-area">
<p>
  <b>Embed code: </b>Use this sim on a webpage. Copy the code block below, and include it anywhere on a webpage to show the sim.
</p>

<textarea class="iframe-link">
&lt;iframe src="{{ page.location }}" width ="{{ page.width }}" height="{{ page.height }}" ></iframe &gt;</textarea>
</section>

<section class="code-links">
  <p>
    <b>Developers: </b>View the code here:
    <a href="https://github.com/ccny-physics-sims/sims/tree/gh-pages/{{page.nice-name}}"><span class="icon icon--github">{% include icon-github.svg %}</span> Code</a>
  </p>
  <p>
    Main Contributors:
  </p>
  <ul class="dev-contribs">
    {% for contributor in page.contributors %}
    <li> <img width="50" src="https://github.com/{{contributor}}.png?size=50" />  <a href="https://github.com/{{contributor}}" >{{contributor}}</a>
    </li>
  {% endfor %}
  </ul>
  {% if page.updated %}
  <p>
    Updated: {{page.updated | date: "%B %-d , %Y" }}
  </p>
  {% endif %}

</section>
